.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calculator {
  display: flex;
  flex-direction: column;
  background: rgba(35, 37, 39, 0.75);
  width: 300px;

}

.display {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding: 1rem;
  height: 70px;
  font-size: 35px;
  color: white;
}

.display span {
  font-size: 15px;
}

.numpad {
  display: flex;
  column-gap: 2px;
  margin: 6px;
}

.operators {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.digits {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  flex-wrap: wrap;
}

.digits button {
  background: rgba(0, 0, 0, 0.9);
}

.operators button {
  background: rgba(20, 22, 23, 0.6);
}

button {
  background-color: transparent;
  font-size: 20px;
  border: none;
  color: white;
  padding: 10px 10px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button:hover {
  background: rgba(104, 104, 104, 1);
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.4) inset;
}